<h1>Dear %s!!borrower's name!!,</h1>
<p>We are pleased to inform that your booking to %s!!poi!! is confirmed as follows:&nbsp;</p>
<p><br></p>
<p>Date of Visit :%s !!date!! (1 day only)</p>
<p><strong>&nbsp;</strong></p>
<p>For any change in visit date, you are required to cancel your booking (at least 1 day before) and to submit a new
    booking in the system.&nbsp;</p>
<p><br></p>
<p>Attached is the Corporate Membership letter to %s!!poi!!. Please check that the details are
    accurate.&nbsp;</p>
<p><br></p>
<p>Please take note of the following on the day of your visit to %s!!poi!!:</p>
<ul>
    <li>Present this email, the attached corporate membership letter and your staff pass at the entrance of
        %s!!poi!!.&nbsp;</li>
    <li>Entry is strictly based on your details in this email and corporate membership letter.</li>
    <li>Your presence is required on the day of visit. Entry will be denied without staff's presence.&nbsp;</li>
    <li>Your booking is non-transferable. Entry is strictly based on the details in this email and Corporate Membership
        letter.&nbsp;</li>
    <li>Visit date is strictly based on the date stated in this email and Corporate Membership letter.&nbsp;</li>
    <li>Staff found abusing the Corporate Membership letter will be subject to disciplinary actions.&nbsp;</li>
</ul>
<p>Enjoy your visit to %s!!poi!!!&nbsp;</p>
<p><br></p>
<p>Warm regards</p>
<p>HR Department </p>